<div style="text-align: center">

  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" , class:'form-control col-md-4 offset-md-4'%>
    </div>

    <div class="field form-group">
      <%= f.label :password %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class:'form-control col-md-4 offset-md-4'%>
    </div>

    <div class="field form-group" style="margin-top: 20px">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" , class:'form-control col-md-4 offset-md-4'%>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" , class: 'btn btn-light'%>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>