<p id="notice"><%= notice %></p>

<div>
  <h1 style="text-align: center; font-weight: bold">Flight Informations</h1>
</div>


<div class="row" style="text-align: center; margin-top: 40px">
  <div class="col-sm">
    <p class="dot">
      <span><%= @flight.number %></span>
    </p>
  </div>
  <div class="col-sm">
    <p class="dot">
      <span><%= @flight.departure_airport %></span>
    </p>
  </div>
  <div class="col-sm">
    <p class="dot">
      <span><%= @flight.arrival_airport %></span>
    </p>
  </div>
  <div class="col-sm">
    <p class="dot">
      <span><%= @flight.business_class_seats %></span>
    </p>
  </div>
  <div class="col-sm">
    <p class="dot">
      <span><%= @flight.economy_class_seats %></span>
    </p>
  </div>
  <div class="col-sm">
    <p class="dot">
      <span> <%= @flight.duration %> minutes</span>
    </p>
  </div>
  <div class="col-sm">
    <p class="dot">
      <span>  <%= @flight.departure_date.strftime("%d/%m/%Y à %H:%M") %></span>
    </p>
  </div>
  <div class="col-sm">
    <p class="dot">
      <span> <%= (@flight.departure_date + @flight.duration*60).strftime("%d/%m/%Y à %H:%M") %></span>
    </p>
  </div>
</div>


<div class="row" style="text-align: center">
  <div class="col-sm">
    <strong>Number</strong>
  </div>
  <div class="col-sm">
    <strong>Departure airport</strong>
  </div>
  <div class="col-sm">
    <strong>Arrival airport</strong>
  </div>
  <div class="col-sm">
    <strong>Business class seats</strong>
  </div>
  <div class="col-sm">
    <strong>Economy class seats</strong>
  </div>
  <div class="col-sm">
    <strong>Duration</strong>
  </div>
  <div class="col-sm">
    <strong>Departure date</strong>
  </div>
  <div class="col-sm">
    <strong>Arrival date</strong>
  </div>

</div>


<div style="text-align: center; margin-top: 50px">
  <%= link_to '<span style="color:white;">Edit <i class="bi bi-pencil"></i></span>'.html_safe, edit_flight_path(@flight), class: "btn btn-info" %>
  <%= link_to '<span style="color:white;">Home <i class="bi bi-house"></i> </span>'.html_safe, flights_path,class: "btn btn-dark" %>

  <% if user_signed_in? %>
    <%= link_to 'Reserve', new_reservation_path(flight_id: @flight.id), class: "btn btn-info" %>
  <% end  %>
</div>

