<%= form_with(model: reservation) do |form| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
        <% reservation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :class_seats %>
    <select name="reservation[class_seats]" id="reservation_class_seats">
      <option value="business">business</option>
      <option value="economy">economy</option>
    </select>
  </div>


  <input type="hidden" class="form-control col-md-4 offset-md-4" value="<%= rand(111111..999999) + current_user.id + @flight.id %>" style="text-align: center" type="text" name="reservation[code_reservation]" id="reservation_code_reservation">
  <input type="hidden" name="reservation[user_id]" id="reservation_user_id" value="<%= current_user.id %>" />
  <input type="hidden" name="reservation[flight_id]" id="reservation_flight_id" value="<%= @flight.id %>">

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
