<p id="notice"><%= notice %></p>

<h1>Reservations</h1>

<div class="table-responsive">
  <table class="table" style="text-align: center">
  <thead>
    <tr>
      <th>Class seats</th>
      <th>Num Avion</th>
      <th>Code Reservation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.class_seats %></td>
        <td><%= reservation.flight_id %></td>
        <td><%= reservation.code_reservation %></td>
        <td><%= link_to 'Show', reservation %></td>
        <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
        <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

