<p id="notice"><%= notice %></p>

<p>
  <strong>Class seats:</strong>
  <%= @reservation.class_seats %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
