<html>

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
</head>

<body>
  <div class="container">
    <h2>Bonjour <%= @user.email %>,</h2>

    <p>Merci d'avoir réserver un vol sur notre site, vous trouverez ici dessus votre code de réservation : </p>
    <b><h1 style="text-align: center"><%= @reservation.code_reservation %></h1></b>
    <p>Vous avez pris en vol en classe <%= @reservation.class_seats %></p>
    <p>Merci d'avoir choisi SuperAirFlight</p>
  </div>
</body>
</html>
