<div style="text-align: center;">


  <h2 style="margin-top: 20px">Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field" style="margin-top: 40px">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control col-md-4 offset-md-4' %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", class:'form-control col-md-4 offset-md-4' %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field" >
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in", class:'btn btn-primary' %>
    </div>
  <% end %>
  <div class="col-md-6 offset-md-3" style="text-align: center" ><%= render "devise/shared/links" %></div>

</div>